* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    background-image: url("../img/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body div {
    margin-bottom: 1rem;
}
.reset-game, .reset-table {
    background-color: #5f0d96;
    border: 1.5px solid #9617eb;
    border-radius: 10px;
    color: whitesmoke;
    padding: 0.6rem 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
}
.reset-game:hover, .reset-table:hover {
    cursor: pointer;
}
main {
    display: flex;
}
aside {
    width: 15rem;
    height: 30rem;
    background-color: #e4dce1c4;
    margin: 0 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
aside img {
    width: 4rem;
}
#player-1-panel h1, #player-1-panel h2 {
    color: #4089bb;
}
#player-2-panel h1, #player-2-panel h2 {
    color: #a468cc;
}
aside svg {
    width: 4rem;
    height: 4rem;
}
#player-1-panel .golden, #player-2-panel .golden {
    color: gold;
}
.red {
    fill: rgb(155, 15, 15);
}
.green {
    fill: rgb(10, 97, 10);
}
table {
    height: 30rem;
    width: 30rem;
    background-color: #4d5377ab;
    border-radius: 10px;
}

td {
    border: 1px solid cyan;
    width: 33.33%;
    height: 33.33%;
    padding: 1.5rem 2rem 1.5rem 2.5rem;
    border-radius: 10px;
}
td img {
    width: 5rem;
}
td:hover {
    cursor: pointer;
}